@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
}

body {
  background-color: #1D1D1D;
  color: #fff;
}

nav {
  position: relative;
}

nav ul {
  position: fixed;
  width: 241px;
  height: 100%;
  color: #B2B2B2;
  background-color: black;
  font-size: 1.1em;
  overflow: auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: left;
}

nav ul li {
  display: flex;
  width: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-left: 30px;
  font-size: 15px;
  transition: 100ms;
}

nav ul li:hover {
  color: #fff;
  cursor: pointer;
}

.logo img {
  max-width: 131px;
  height: 40px;
  padding-left: -10px;
  padding-top: 10px;
  padding-bottom: 20px;
  transition: 100ms;
}

.navicons {
  font-size: 17px;
}

.container {
  width: 100% - 241px;
  min-height: 100vh;
  margin-left: 241px;
  background-color: #121212;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0;
  }

  nav ul {
    display: none;
  }
}

.bottom {
  position: fixed;
  bottom: 0;
  height: 15vh;
  width: 100vw;
  background-color: #181818;
  border-top: 1px solid #282828;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
}

.icons .fa-solid {
  margin: 0 3vw;
}

.icons .fa-solid {
  font-size: 1.5em;
  color: #878787;
  transition: 100ms;
}

.icons .fa-solid:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.1);
}

.icons .fa-regular {
  font-size: 2.5em;
  color: #fff;
  transition: 100ms;
}

.icons .fa-regular:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.1);
}

#progressBar {
  width: 50vw;
}

.playlistBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: 30vh;
  max-height: 500px;
  min-height: 340px;
  width: 100%;
  border-bottom: #fff 1px solid;
}

.playlistHeader {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 100%;
  padding-left: 30px;
}

.playlistHeader h1 {
  font-size: 7vw;
}

.fa-guitar {
  font-size: 192px;
  color: #878787;
  transition: 100ms;
  padding-left: 30px;
}

.songlistBox {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 100%;
  padding-left: 30px;
}

.songItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  width: 90%;
  padding: 10px;
  transition: 100ms;
  background-color: #fff;
  color: #000;
  margin: 12px 0;
  border-radius: 10px;
}

.songItem:hover {
  background-color: #2e2e2e;
  color: #fff;
  cursor: pointer;
}

.sno_artistimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.songItem img {
  width: 100%;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
}