* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 175%;
    font-weight: 300;
    line-height: 1.3;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(64, 64, 64), rgb(24, 24, 24));
}

button {
    background-color: transparent;
    border: 1px solid #aeadad;
    border-radius: 0;
    height: 4em;
}

button:hover {
    background-color: rgb(246, 246, 246);
    transform: scale(0.95);
}

button:active {
    background-color: #c8c8c8;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.container {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
}

.container__display {
    width: 10em;
    line-height: 100px;
    background-color: #222222;
    color: #fff;
    text-align: right;
    padding: 20px;
}

.container__keys {
    background-color: #999;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px;
}

.container__keys>* {
    background-color: #fff;
    position: relative;
    text-align: center;
    padding: 1em;
}

.tiles--equal {
    height: 100%;
    grid-column: -2;
    grid-row: 2 / span 4;
    background-color: rgb(255, 131, 85);
}

.tiles--equal:hover {
    background-color: rgb(255, 120, 70);
    transform: none;
}

.tiles--equal:active {
    background-color: rgb(255, 100, 43);
}