.body {
	margin: 9px;
	border-radius: 10px;
	background: linear-gradient(#222222, #121212);
	color: white;
	overflow: hidden;
	flex: 0.7;
	min-width: 450px;
}

.body > .playlist_header {
	height: 340px;
	background: linear-gradient(#565656, #2a2a2a);
}

.body > .playlist_header > .top_row {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.body > .playlist_header > .top_row > span > #icon {
	padding: 8px;
	font-size: 15px;
	border-radius: 50%;
	background-color: #181818;
	color: #565656;
}

.body > .playlist_header > .top_row > span > #icon:hover {
	cursor: not-allowed;
}

.body > .playlist_header > .top_row > .right_container {
	display: flex;
	align-items: center;
}

.body > .playlist_header > .top_row > .right_container > .redirect {
	text-decoration: none;
	color: white;
	display: flex;
	padding: 10px;
	align-items: center;
	border-radius: 25px;
	background-color: #181818;
	margin-right: 10px;
}

.body > .playlist_header > .top_row > .right_container > .redirect:hover {
	cursor: pointer;
	background-color: #282828;
}

.body > .playlist_header > .top_row > .right_container > .redirect > h3 {
	margin-right: 10px;
	font-size: 15px;
}

.body > .playlist_header > .top_row > .right_container > #icon {
	border-radius: 50%;
	padding: 10px;
	background-color: #181818;
	font-size: 15px;
}

.body > .playlist_header > .top_row > .right_container > #icon:hover {
	cursor: pointer;
	background-color: #282828;
}

.body > .playlist_header > .top_row > span > #icon:first-child {
	margin-right: 10px;
}

.body > .playlist_header > .playlist {
	display: flex;
	margin-top: 20px;
}

.body > .playlist_header > .playlist > .playlist_text {
	margin-left: 20px;
	margin-top: 20px;
}

.body > .playlist_header > .playlist > .playlist_text > .info {
	display: flex;
	align-items: center;
	font-size: max(1.2vw, 15px);
}

.body > .playlist_header > .playlist > .playlist_text > .info > p:nth-child(2),
:nth-child(4) {
	margin-left: 10px;
	margin-right: 10px;
}

.body > .playlist_header > .playlist > .playlist_text > .info > p:nth-child(3),
:nth-child(5) {
	color: #b3b3b3;
}

.body > .playlist_header > .playlist > img {
	width: 200px;
	height: 200px;
	margin-left: 20px;
	object-fit: contain;
	box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
}

.body > .playlist_header > .playlist > .playlist_text > h1 {
	font-size: 5vw;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
}

@media (max-width: 868px) {
	#duration,
	#duration_dot {
		display: none;
	}
}
