.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 72px;
	background-color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.footer__left {
	flex: 0.3;
	display: flex;
	align-items: center;
}

.footer__left > img {
	width: 50px;
}

.footer__left > .song {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.footer__left > .song > h1 {
	font-size: 15px;
	margin-bottom: 2px;
	color: #fff;
}

.footer__left > .song > h2 {
	font-size: 12px;
	color: #b3b3b3;
}

.footer__left > #icon {
	margin-left: 15px;
}

.footer__center {
	flex: 0.4;
	padding: 0 100px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 370px;
}

.footer__center > #icon {
	color: #b3b3b3;
	font-size: 20px;
}

.footer__center > #icon:hover {
	color: white;
	cursor: pointer;
}

.footer__center > #icon:nth-child(3) {
	color: white;
	font-size: 30px;
	transition: all 0.2s ease-in-out;
}

.footer__center > #icon:nth-child(3):hover {
	scale: 1.2;
}

.footer__right {
	flex: 0.3;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.footer__right > input {
	width: 120px;
	height: 8px;
	accent-color: white;
	margin-right: 10px;
}

.footer__right > input:hover {
	accent-color: #65d26d;
	cursor: pointer;
}

.footer__right > #icon {
	color: #b3b3b3;
	font-size: 20px;
	margin-right: 10px;
}

.footer__right > #icon:hover {
	color: white;
	cursor: pointer;
}
