.playList {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
}

.playList:hover {
    cursor: pointer;
    background-color: #282828;
}

.playList>img {
    width: 70px;
    margin: 5px;
}