.playList {
	display: flex;
	align-items: center;
	border-radius: 5px;
	margin: 10px;
}

.selected {
	color: #fff;
}

.playList:hover {
	cursor: pointer;
	background-color: #282828;
}

.playList > img {
	width: 70px;
	margin: 5px;
}

.playList > .playlist__details {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.playList > .playlist__details > h4 {
	margin-bottom: 10px;
}

.playList > .playlist__details > p {
	font-size: 12px;
}

@media screen and (max-width: 640px) {
	.playList > .playlist__details > h4 {
		font-size: 14px;
	}

	.playList > .playlist__details > p {
		display: none;
	}
}
