.sidebar {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    margin: 9px 0px 9px 9px;
    border-radius: 10px;
    min-width: 240px;
}

.sidebar__top {
    height: 112px;
    width: 29.2%;
    min-width: 240px;
    border-radius: 10px;
    background-color: #121212;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.sidebar__top>.row {
    display: flex;
    align-items: center;
    color: #b3b3b3;
}

.sidebar__top>.row:hover {
    background-color: #282828;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar__top>.row:active {
    background-color: #282828;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar__top>.row>i {
    font-size: 22px;
    margin-right: 10px;
    margin: 10px;
}

.sidebar__bottom {
    background-color: #121212;
    height: 100%;
    border-radius: 10px;
    margin-top: 10px;
    position: fixed;
    width: 29.2%;
    min-width: 240px;
    margin-top: 122px;
    color: #b3b3b3;
}

.sidebar__bottom>h2 {
    margin: 20px;
    color: #fff;
    font-size: 20px;
}